/* .banner-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homebanner {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 40%;
  text-align: center;
  color: #fff;
}

.banner-title {
  font-size: 45px;
  margin-bottom: 10px;
  font-family: cursive, ui-sans-serif;
  text-align: left;
  color: orangered;
}

.banner-tagline {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 5px 15px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.location-icon {
  color: orangered;
  font-size: 20px;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 50px;
  background: none;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: orangered;
  font-size: 18px;
  padding: 5px;
} */

.mobile-banner {
  display: block;
  width: 30%;
}

.ban-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-2 {

  padding: 10px;
  height: 100%;
  border-radius: 10px;
  color: black !important;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.mobile-user-screen2 {
  width: 40px;
  border-radius: 50%;
  color: black;
  border: 1px solid rgb(20, 19, 19);
  height: 40px;
  padding-top: 8px;
}

.mobile-user-screen2-title {
  font-size: 20px;
  font-weight: 600;
  color: black;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mobile-user-screen2-tagline {
  font-size: 16px;
  color: white;
}

.mobile-user-status-icon {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.numberremove::-webkit-inner-spin-button,
.numberremove::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.story-circle {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;


}

.modal-add-btn {
  background-color: #F81D0F !important;
}

.profileCard {
  display: flex;
  width: 100%;
}

.profileSection {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trustSection {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trustSection>img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  /* border-style: none; */
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);

}

/* 
.trustSection>img:hover {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
} */

.iocn>img {
  width: 60px;
  height: 50px;
}

.textcolor {
  font-size: 18px;
  font-weight: 600;
  /* margin-top: 10px; */
}

.tail-text {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  padding: 0%;
  /* background-color: white; */
  height: 60px;
  height: 100%;
  margin-top: 14px;

}

.registerhere {
  z-index: 99999999;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.tail-text2 {
  background-color: white;
  border-radius: 10px;
}

.navbody {
  background-color: #F5FBF8;
}

.side-nav-img {
  margin-top: 10px;
}

.iocn2>img {
  width: 70px;
  height: 80%;

}

.madewith {
  width: 100%;
  height: 150px;
  /* border: 1px solid black; */
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.madewith>h6>img {
  width: 120px;
  height: 40px;
}

.madewith>h6 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
}

@media screen and (max-width: 799px) {

  /* .homebanner {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    padding: 10px;
  }
  .banner-title {
    font-size: 30px !important;
  }
  .banner-tagline {
    font-size: 18px !important;
  }
  .content-container {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 70% !important;
  } */
  .ban-container {
    width: 100%;
  }

  .banner-container {
    display: none;
    width: 100% !important;
  }

  .mobile-banner {
    display: block !important;
    width: 100% !important;
    padding-left: 16px;
    padding-right: 16px;
    /* background-color: rgb(237, 234, 234); */

  }

  .screen-2 {

    padding: 10px;
    height: 100%;
    border-radius: 10px;
    color: black !important;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  }

  .mobile-user-screen2 {
    width: 40px;
    border-radius: 50%;
    color: black;
    border: 1px solid rgb(20, 19, 19);
    height: 40px;
    padding-top: 8px;
  }

  .mobile-user-screen2-title {
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-user-screen2-tagline {
    font-size: 16px;
    color: white;
  }

  .mobile-user-status-icon {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }

  .story-circle {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .has-stories {
    border: 2px solid #0b923c;
  }

  .location-selector {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

  }

  .locationselector {
    height: 40px;
  }

  /* .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 2px solid orangered;
    font-size: 20px;
    border-radius: 4px;
  }
  
  .search-btn {
    color: white;
    pointer-events: none;
    position: absolute;
    left: 8px;
    background-color: orangered;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    text-align: center;
    justify-content: center;
}
   */

  .select-location {
    outline-width: 0px;
    border-radius: 5px;
    width: 100% !important;
    resize: none !important;
    text-align: center;
    margin: auto;
  }

  .select-location option {
    color: #F81D0F;
    padding: 10px !important;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
  }

  /* custom material ui css  */
  .rs-picker-select-menu-item {
    border: 1px solid orange;
    border-radius: 10px;
    margin: 5px 0 !important;
    color: orangered !important;
    font-weight: 600 !important;
    font-size: 16px !important;
  }

  .rs-picker-select-menu-items {
    padding: 10px !important;
    width: 100% !important;
  }

  .rs-picker-default .rs-btn,
  .rs-picker-default .rs-picker-toggle,
  .rs-picker-input .rs-btn,
  .rs-picker-input .rs-picker-toggle {
    border: 2px solid #F81D0F !important;
  }

  .modal-add-btn {
    background-color: #F81D0F !important;
  }

  .rs-input-group {
    border: 2px solid #F81D0F !important;
  }

  .profileCard {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;

    /* height: 100%; */
  }

  .profileSection {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trustSection {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trustSection>img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    /* border-style: none; */
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);

  }

  .iocn>img {
    width: 60px;
    height: 50px;
  }

  .textcolor {
    font-size: 22px;
    font-weight: 600;
  }

  .tail-text {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    padding: 0%;
    /* background-color: white; */
    height: 60px;
    height: 100%;
    margin-top: 10px;

  }

  .tail-text2 {
    background-color: white;
    border-radius: 10px;
  }

  .navbody {
    background-color: #F5FBF8;
  }

  .side-nav-img {
    margin-top: 10px;
  }

  .iocn2>img {
    width: 70px;
    height: 80%;

  }

  /* .icon>img{
    width: 70px;
    height: 80%;
    margin-right: 60px;
  } */
  .madewith {
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .madewith>h6>img {
    width: 120px;
    height: 40px;
  }

  .madewith>h6 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

  }

}