/* ==========PRODUCTS=============== */
/* 
.stock-available {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0% 0% 0% 40%;
}

.product-crd-img {
  height: 200px;
  object-fit: fill;
  width: 100%;
  border-radius: 10px;
}

.red-dot {
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.green-dot {
  background-color: green;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.stock-bar-container {
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  padding: 6px 10px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
}

.position-relative {
  position: relative;
}

.product-crd {
  width: 14rem;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  justify-content: center;
  margin: auto;
}

.progress {
  height: 12px;
  margin-right: 10px;
  color: orangered;
  border-radius: 3px;
}

.progress-bar {
  background-color: orangered;
}

.badge {
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 16px 6px;
  font-size: 16px;
  background-color: orangered;
} */

/* .mobile-product-box {
  display: none !important;
} */

.login-whatsappwithicon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.ant-drawer-content-wrapper {
  width: 28% !important;
  /* Set drawer width */
  margin: 0 auto;
  /* Center horizontally */
  border-radius: 10px;
  /* Optional: Rounded corners */
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


}

.mobile-product-box {
  display: block !important;
  padding: 0 5px;
  width: 37%;
}



/* Loading */
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}



@keyframes blinking-red-border {

  0%,
  100% {
    border-color: transparent;
    /* Border invisible */
  }

  50% {
    border-color: green;
    /* Border visible */
  }
}

.blinking-red-border {
  display: inline-block;
  border: 5px solid transparent;
  /* Initial transparent border */
  border-radius: 10px;
  /* Optional: Rounded corners */
  animation: blinking-red-border 1s infinite;
  /* Blinking animation */
}



.add-to-cart-btn {
  background-color: white;
  font-size: 14px;
  height: 36px;
  padding: 5px 8px;
  text-align: center;
  color: #F81D0F;
  width: 100%;
  border: 1px solid #F81D0F !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10px; */
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
}

.add-to-cart-btn:visited {
  color: #F81D0F;
  border: 1px solid #F81D0F !important;
}

.add-to-cart-btn:hover {
  color: #F81D0F !important;
  border: 1px solid #F81D0F !important;
}

.increaseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incrementbtnn {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incremental {
  width: 50%;
  height: 35px;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
}

.incrementbtn {
  width: 15px;
  border-radius: 4px;
  background: linear-gradient(orangered, red);
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.prepare-food-text {
  color: green;
  font-size: 16px;
  font-weight: 600;
}

.praparing-food {
  width: 90px !important;
  /* height: 100px; */
}

.mobl-product-card {
  width: 100% !important;
  position: relative;
  /* margin-bottom: 5px !important;  */
  /* border: 1px solid black; */
  padding: 0%;


  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.prduct-box {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;

}


.mbl-progress {
  height: 7px;
  margin-right: 10px;
  /* color: white; */
  border-radius: 3px;
  background: orange;
}

.mbl-progress-bar {
  background-color: white;
}


.mbl-product-img {
  width: auto;
  height: 130%;
  border-radius: 10px;
  object-fit: contain;

}


.mbl-product-corner-price {
  /* position: relative;
  top: -45px;
  left: 95px; */
  color: white;
  text-align: end;
  /* background: orangered; */
  background-color: #FFB200;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 5px solid white;
  position: absolute;
  top: -5px;
  right: -5px;
}

.veg {
  width: 10px;
  height: 8px;
  border-radius: 50%;
  background: green;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 8px 0;
}

.Nonveg {
  width: 10px;
  height: 8px;
  border-radius: 50%;
  background: red;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 8px 0;
}

.Egg {
  width: 10px;
  height: 8px;
  border-radius: 50%;
  background: red;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 8px 0;
}

.mbl-product-main {
  display: flex;
  align-items: center;
  width: 160px;
}

.mbl-product-name {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Ensure content does not overflow the container */
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis;

}

/* .mbl-product-name2{
  font-size: 16px;
  font-weight: 600; */
/* text-decoration: underline; */
/* border-bottom: 1px solid black; */
/* text-wrap: wrap; */
/* width: 20%;
  height: 100%;
} */

.rs-picker-select-menu-item:hover {
  background-color: lightblue;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.whatsonmind {
  width: 100%;
  height: auto;
  overflow-x: auto;
  margin-bottom: 10px;
}

.foods {
  width: auto;
  display: flex;
  height: 110px;
  justify-content: space-around;
  margin-top: 20px;
  overflow-x: auto;
  /* gap: 40px 20px; */

}

.itemImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.itemImg>.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.foodname {
  font-size: 9px;
  width: 100%;
  text-align: center;
}

.drawer {
  background-color: rgb(240, 237, 237) !important;
}

.foodItem {
  width: 95%;
  height: auto;
  border-radius: 10px;
}

.foodItem>img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cartbutton {
  width: 100%;
  display: flex;
  justify-content: center;

}

.parentdiv {
  position: relative;
  padding-bottom: 10px !important;
}

.productprice {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #F81D0F;
  color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* z-index: 1000; */
  /* position: absolute;
  top: 100px; */
}

.shadowdiv {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  color: black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 5px;
  z-index: -1;

}


.cartbtn {
  position: fixed;
  bottom: 20px;
  left: 35%;
  right: 20px;
  background-color: #F81D0F;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  z-index: 1000;
  width: 30%;
}

.messageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;


}

.plusbtn {
  font-size: 8px;
  color: white;
}

.leftquantity {
  padding: 2px;
  border-radius: 20px;
  background-color: rgb(224, 221, 221);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 3px;
}

.imagebg {

  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.productborder {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ffc156;
}

.parentdivqty {
  position: relative;

}

.quantity {
  width: 100%;
  height: 31px;
  border-radius: 5px;
  align-items: center;
  background-color: #F5DE43;
  color: black;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border: none;
  outline: none;

}

.shadowdiv2 {
  width: 100%;
  height: 33px;
  border-radius: 5px;
  background-color: black;
  color: black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 2px;
  z-index: -1;
}

.graybg {

  background-color: rgb(237, 234, 234);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
}

.graycard {
  background-color: rgb(237, 234, 234);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}

.faplus {
  width: 25%;
  display: flex;
  justify-content: center;
}

.faQuantity {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 799px) {
  .products-section {
    display: none !important;
  }

  .mobile-product-box {
    display: block !important;
    padding: 0 5px;
    width: 100%;
  }

  .incrementbtnn {
    width: 50%;
    height: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .incremental {
    width: 50%;
    height: 35px;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
  }

  .incrementbtn {
    width: 15px;
    border-radius: 4px;
    background: linear-gradient(orangered, red);
    color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftquantity {
    padding: 2px;
    border-radius: 20px !important;
    background-color: rgb(224, 221, 221);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 3px;
  }

  /* .mbl-product-name2{
  font-size: 16px;
  font-weight: 600; */
  /* text-decoration: underline; */
  /* border-bottom: 1px solid black; */
  /* text-wrap: wrap; */
  /* width: 20%;
  height: 100%;
} */


  .plusbtn {
    font-size: 8px;
  }

  .prepare-food-text {
    color: green;
    font-size: 16px;
    font-weight: 600;
  }

  .praparing-food {
    width: 70px;
    /* height: 100px; */
  }

  .parentdivqty {
    position: relative;

  }

  .quantity {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    align-items: center;
    background-color: #F5DE43;
    color: black;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: none;
    outline: none;

  }

  .shadowdiv2 {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background-color: black;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    top: 2px;
    z-index: -1;
  }

  .productprice {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #F81D0F;
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: none;
    outline: none;
    /* z-index: 1000; */
    /* position: absolute;
    top: 100px; */
  }

  .shadowdiv {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    top: 3px;
    z-index: -1;

  }

  .imagebg {

    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .mobl-product-card {
    width: 112% !important;
    /* margin-bottom: 5px !important;  */
    /* border: 1px solid black; */
    padding: 0%;


    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  }

  .prduct-box {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;

  }

  .leftquantity {
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(224, 221, 221);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .mbl-processbar {
    padding: 4px 6px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    background: orangered;
    color: white;
  }

  .mbl-progress {
    height: 7px;
    margin-right: 10px;
    /* color: white; */
    border-radius: 3px;
    background: orange;
  }

  .mbl-progress-bar {
    background-color: white;
  }

  .mbl-product-img {
    width: auto;
    height: 130%;
    border-radius: 10px;
    object-fit: contain;

  }

  .graybg {

    background-color: rgb(237, 234, 234);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
  }

  .graycard {
    background-color: rgb(237, 234, 234);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
  }


  .veg {
    width: 10px;
    height: 8px;
    border-radius: 50%;
    background: green;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 8px 0;
  }

  .Nonveg {
    width: 10px;
    height: 8px;
    border-radius: 50%;
    background: red;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 8px 0;
  }

  .mbl-product-main {
    display: flex;
    align-items: center;
    width: 160px;
  }

  .parentdiv {
    position: relative;
    padding-bottom: 10px !important;
  }

  .Egg {
    width: 10px;
    height: 8px;
    border-radius: 50%;
    background: red;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 8px 0;
  }

  .mbl-product-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .productborder {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ffc156;
  }

  .rs-picker-select-menu-item:hover {
    background-color: lightblue;
  }

  .whatsonmind {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .foods {
    width: auto;
    height: 120px;
    display: flex;
    margin-top: 20px;
    overflow-x: auto;
    /* flex-wrap: wrap; */
    gap: 40px 20px;

  }

  .itemImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .itemImg>.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .foodname {
    font-size: 9px;
    width: 100%;
    text-align: center;
  }

  .drawer {
    background-color: rgb(240, 237, 237) !important;
  }

  .foodItem {
    width: 95%;
    height: auto;
    border-radius: 10px;
  }

  .foodItem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .cartbtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #F81D0F;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
    border-radius: 10px;
    z-index: 1000;
    width: 90%;
  }


  .ant-drawer-content-wrapper {
    width: 100% !important;
    /* Set drawer width */
    margin: 0 auto;
    /* Center horizontally */
    border-radius: 10px;
    /* Optional: Rounded corners */
  }

  .incbtn {
    width: 100%;
    height: 100%;
  }

  .add-to-cart-btn {
    height: 25px;
  }

  .faplus {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .faQuantity {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .messageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

}